.page-layout {
    position: absolute;
    right: 0;
    left: 0;
    top: 50px;
    bottom: 0;
}

.text-left {
    text-align: left;
}

.text-font {
    font-size: 17px;
}

.card-container {
    overflow-y: auto;
    max-height: 125px;
}

#style-4::-webkit-scrollbar-track {
    background-color: white;
    border: 1px solid #dfdada;
}

#style-4::-webkit-scrollbar {
    width: 14px;
    background-color: white;
}

#style-4::-webkit-scrollbar-thumb {
    background-color: #b6b1b1;
    border: 2px solid #a6a6a6;
}

.footer {
    height: 60px;
    background-color: white;
}

.button {
    background-color: transparent;
    border: none;
    font-weight: bold;
}

// .select-all {
//     height: 40px;
//     border: 1px solid #ececec;
//     background-color: #ffffff;
//     padding: 5px 15px;
// }
// .select-main {
//     margin: 0;
//     display: flex;
//     align-items: center;
//     cursor: pointer;
//     font-size: 20px;
// }
// input[type=checkbox] {
//     visibility: hidden;
// }
// input[type="checkbox"]:not(:checked) {
//     /* Explicit Unchecked Styles */
//     border: 1px solid #FF0000; // Only apply border to unchecked state
//   }
// .sign {
//     // content: "-";
//     position: relative;
//     top: -6px;
//     color: white;
//     border: solid white;
//     border-width: 2px 0 0 0;
// }
// .sign::before input:checked~.geekmark1 {
//     display: none !important;
//     content: " ";
// }
// .select-main input:checked~.sign {
//     background-color: black;
// }
// .sign:after {
//     content: "";
//     display: none !important;
// }
// .select-main input:checked~.sign:after {
//     display: block !important;
//     // content: '\2714';
// }
// .select-main .geekmark1:before {
//     position: relative;
//     left: 8px;
//     top: 4px;
//     width: 7px;
//     height: 12px;
//     border: solid white;
//     border-width: 0 2px 2px 0;
// }
// .select-main .geekmark1:before {
//     display: block;
// }
// .select-main .sign:after {
//     // content: '\2714';
//     position: relative;
//     top: 0px;
//     color: white;
//     // position: relative;
//     left: 8px;
//     top: 4px;
//     width: 7px;
//     height: 12px;
//     border: solid white;
//     border-width: 0 2px 2px 0;
//     -webkit-transform: rotate(45deg);
//     transform: rotate(45deg);
// }
// .geekmark1 {
//     height: 25px;
//     width: 25px;
//     background-color: black;
//     border: 1px solid;
//     float: left;
// }
.main {
    margin: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
}

input[type=checkbox] {
    visibility: hidden;
}

.check-box {
    position: absolute;
    left: 29px;
    top: 8px;
    opacity: 0;
    visibility: visible !important;
    z-index: 500;
    height: 20px;
    width: 20px;
}

.icon-container {
    position: absolute;
    top: 8px;
    font-size: 29px;
    left: 29px;
    height: 20px;
    width: 20px;
    background-color: black;
}

.minus-icon {
    position: absolute;
    left: 6px;
    top: 9px;
    width: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
}

.plus-icon {
    position: absolute;
    left: 7px;
    top: 3px;
    width: 6px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.geekmark {
    height: 20px;
    width: 20px;
    background-color: #ffffff;
    border: 1px solid;
    float: left;
}

.main input:checked~.geekmark {
    background-color: black;
}

.geekmark:after {
    content: "";
    display: none;
}

.main input:checked~.geekmark:after {
    display: block;
}

.main .geekmark:after {
    position: relative;
    left: 6px;
    top: 2px;
    width: 6px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.select-all {
    height: 40px;
    background-color: white;
    position: relative;
    padding: 5px 15px;
    border-top-color: #eae5e5;
    border-bottom-color: transparent;
    border-width: 1px;
    border-style: solid;
    border-left-color: #eae5e5;
    border-right-color: #eae5e5;
}