.page-layout {
    position: absolute;
    right: 0;
    left: 0;
    top: 50px;
    bottom: 0;
}

.dropdown-container {
    border: 1px solid #e0e4e8;
    height: 40px !important;
}

.text-left {
    text-align: left;
}

.selected-text-color {
    color: #7159d1;
    font-weight: bold;
}

.text-font {
    font-size: 17px;
}

.card-container {
    overflow-y: auto;
    max-height: 163px;
}

#style-4::-webkit-scrollbar-track {
    background-color: white;
    border: 1px solid #dfdada;
}

#style-4::-webkit-scrollbar {
    width: 13px;
    background-color: white;
}

#style-4::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #b6b1b1;
    border: 2px solid #a6a6a6;
}

.footer {
    height: 60px;
    background-color: white;
}

.button {
    background-color: transparent;
    border: none;
    font-weight: bold;
}

.main {
    margin: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
}

input[type=checkbox] {
    visibility: hidden;
}

.check-box {
    position: absolute;
    left: 29px;
    top: 8px;
    opacity: 0;
    visibility: visible !important;
    z-index: 500;
    height: 20px;
    width: 20px;
}

.icon-container {
    position: absolute;
    top: 8px;
    font-size: 29px;
    left: 29px;
    height: 20px;
    width: 20px;
    background-color: black;
}

.minus-icon {
    position: absolute;
    left: 6px;
    top: 9px;
    width: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
}

.plus-icon {
    position: absolute;
    left: 7px;
    top: 3px;
    width: 6px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.geekmark {
    height: 20px;
    width: 20px;
    background-color: #ffffff;
    border: 1px solid;
    float: left;
}

.main input:checked~.geekmark {
    background-color: black;
}

.geekmark:after {
    content: "";
    display: none;
}

.main input:checked~.geekmark:after {
    display: block;
}

.main .geekmark:after {
    position: relative;
    left: 6px;
    top: 2px;
    width: 6px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.select-all {
    height: 40px;
    background-color: white;
    position: relative;
    padding: 5px 15px;
    border-top-color: #eae5e5;
    border-bottom-color: transparent;
    border-width: 1px;
    border-style: solid;
    border-left-color: #eae5e5;
    border-right-color: #eae5e5;
}